#wrapper {
    padding: 2rem 9rem 2rem 2rem;
    background-color: #EEE;
}
#listing_wrapper {
    padding: 1rem;
}

#listing_wrapper table td {
    padding: 0.3rem;
}

table button {
    color: red;
}
button {
    cursor: pointer;
}
.red {
    color: red;
    font-weight: bold;
}
td:nth-child(2) {
    padding-left: 3rem;
}