* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}
div#settings {
    padding: 2rem 2rem 2rem 2rem;
    background-color: #EEE;
}
div#settings h3 {
    text-align: center;
    padding: 2rem 0 1.5rem 0;
}
div#settings table {
    margin:auto;
    padding-bottom: 3rem;
}
.red {
    color: red;
}
.wrong {
    font-size: 80%;
}
td {
    padding-bottom: 0.3rem;
}
td input{
    padding: 0.15rem 0 0.15rem 0;
}
td:nth-child(3) {
    width: 30rem;
}
td:nth-child(2) {
    padding-left: 2rem;
}
input#addNote {
    max-width: 5rem;
}



div#messages {
    text-align: center;
    padding-bottom: 2rem;
}
#notes option {
    min-width: 8rem;
}
button#manageNotes {
    background-color: #ccc;
    border: black 1px solid;
    padding: 2px;
    cursor: pointer;
}